<div class="quarto-author" style="border: 2px solid red; padding: 5px; margin-bottom: 10px;">
  <p style="font-size: 0.8em; color: grey;">
    DEBUG - Name: "$name$" | URL: "$url$" | ORCID: "$orcid$" | Email: "$email$"
  </p>
  <div class="author-name">
    $if(url)$ <a href="$url$" target="_blank" rel="noopener noreferrer">$name$</a>
    $else if(name)$ $name$
    $else if(literal)$
      $literal$
    $endif$
  </div>
  $if(orcid)$
  <div class="author-orcid">
    <a href="https://orcid.org/$orcid$" target="_blank" rel="noopener noreferrer">
      <i class="ai ai-orcid"></i> ORCID: $orcid$
    </a>
  </div>
  $endif$
  $if(email)$
  <div class="author-email">
    <a href="mailto:$email$">$email$</a>
  </div>
  $endif$
  $if(affiliation)$
  <div class="author-affiliation">
    $for(affiliation)$
      $name$
      $if(city)$<span class="author-affiliation-city">, $city$</span>$endif$
      $if(state)$<span class="author-affiliation-state">, $state$</span>$endif$
      $if(country)$<span class="author-affiliation-country">, $country$</span>$endif$
    $endfor$
  </div>
  $endif$
</div>
