<header id="title-block-header" class="quarto-title-block default">
  <div class="quarto-title">
    $if(title)$
    <h1 class="title">$title$</h1>
    $endif$
    $if(subtitle)$
    <p class="subtitle lead">$subtitle$</p>
    $endif$
    $if(categories)$
    $if(quarto-template-params.title-block-categories)$
    <div class="quarto-categories">
      $for(categories)$
      <div class="quarto-category">$categories$</div>
      $endfor$
    </div>
    $endif$
    $endif$
  </div>
  $if(hide-description)$
  $elseif(description)$
  <div>
    <div class="description">
      $description$
    </div>
  </div>
  $endif$
  <div class="quarto-title-meta">
    $if(author)$
    <div class="quarto-title-meta-author">
      $if(labels.author-title)$
      <div class="quarto-title-meta-heading">$labels.author-title$</div>
      $else$
      <div class="quarto-title-meta-heading">Authors</div>
      $endif$
      <div class="quarto-title-meta-contents">
        $for(current_author in author)$ <p class="author">
          $if(current_author.name)$
          $current_author.name$
          $endif$
          $if(current_author.orcid)$
          <a href="$current_author.orcid.url$" class="orcid" aria-label="ORCID">
            <i class="ai ai-orcid"></i>
          </a>
          $endif$
          $if(current_author.email)$
          <a href="mailto:$current_author.email$" class="email" aria-label="Email">
            <i class="fa-solid fa-envelope"></i>
          </a>
          $endif$
        </p>
        $for(current_affiliation in current_author.affiliation)$ <p class="affiliation">$current_affiliation.name$$if(current_affiliation.city)$<span>, $current_affiliation.city$</span>$endif$$if(current_affiliation.state)$<span>, $current_affiliation.state$</span>$endif$$if(current_affiliation.country)$<span>, $current_affiliation.country$</span>$endif$$if(current_affiliation.url)$<br><a href="$current_affiliation.url$">$current_affiliation.url$</a>$endif$</p>
        $endfor$
        $endfor$
      </div>
    </div>
    $endif$

    $if(reviewed-by)$
    <div class="quarto-title-meta-reviewed-by">
      <div class="quarto-title-meta-heading">Reviewed By</div>
      <div class="quarto-title-meta-contents">
        <p>$reviewed-by$</p>
      </div>
    </div>
    $endif$

    $if(published-title)$
    <div class="quarto-title-meta-date">
      <div class="quarto-title-meta-heading">$labels.published-title$</div>
      <div class="quarto-title-meta-contents">
        <p class="date">$date$</p>
      </div>
    </div>
    $endif$
    $if(doi)$
    <div class="quarto-title-meta-doi">
      <div class="quarto-title-meta-heading">DOI</div>
      <div class="quarto-title-meta-contents">
        <p class="doi">$doi$</p>
      </div>
    </div>
    $endif$
    $if(keywords)$
    <div class="quarto-title-meta-keywords">
      <div class="quarto-title-meta-heading">Keywords</div>
      <div class="quarto-title-meta-contents">
        <div class="text-keywords">
          $for(keywords)$
          <p class="keyword">$keywords$</p>
          $endfor$
        </div>
      </div>
    </div>
    $endif$
    $if(license)$
    <div class="quarto-title-meta-license">
      <div class="quarto-title-meta-heading">License</div>
      <div class="quarto-title-meta-contents">
        <p>$license$</p>
      </div>
    </div>
    $endif$
    $if(citation)$
    <div class="quarto-title-meta-citation">
      <div class="quarto-title-meta-heading">Citation</div>
      <div class="quarto-title-meta-contents">
        $if(citation.container-title)$<p>In: <em>$citation.container-title$</em></p>$endif$
        $if(citation.volume)$<p>Volume: $citation.volume$$if(citation.issue)$, Issue: $citation.issue$$endif$</p>$endif$
        $if(citation.doi)$<p>DOI: $citation.doi$</p>$endif$
      </div>
    </div>
    $endif$
  </div>
  $if(abstract)$
  <div class="abstract">
    <div class="abstract-title">$abstract-title$</div>
    $abstract$
  </div>
  $endif$
</header>
